/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.mainButtonLayout .button{
	-fx-font-weight: bold;
	-fx-focus-traversable: false;
}

.ruleButton{
	-fx-focus-traversable: true;
}